<div class="counter">
  <h1 class="mat-display-1">Truquito</h1>
  <h1>"{{ this.gameModel.gameId }}" </h1>

  <div class="form-div">
    <div class="playerOne" [ngStyle]="{'background-color':this.gameModel.player.score === 30 ? 'mediumspringgreen' : this.gameModel.oponent.score > 15 && this.gameModel.player.score <= 15 ? 'red' : 'white' }">
      <h2>{{ this.gameModel.player.name }}</h2>
      <h1>{{ this.gameModel.player.score }}</h1>
      <button mat-button (click)="this.subPlayerOne()">-1</button>
      <button mat-button (click)="this.sumPlayerOne()">+1</button>
    </div>

    <div class="playerTwo" [ngStyle]="{'background-color':this.gameModel.oponent.score === 30 ? 'mediumspringgreen' : this.gameModel.player.score > 15 && this.gameModel.player.score <= 15 ? 'red' : 'white' }">
      <h2>{{ this.gameModel.oponent.name }}</h2>
      <h1>{{ this.gameModel.oponent.score }}</h1>
      <button mat-button (click)="this.subPlayerTwo()">-1</button>
      <button mat-button (click)="this.sumPlayerTwo()">+1</button>
    </div>
  </div>
  <button mat-button #resetButton (click)="this.reset()" color="warn">Reset</button>
</div>
