
.counter {
  width: 100%;
  touch-action: manipulation;
}

.form-div {
  display: flex;
  flex-direction: row-wrap;
  width: 100%;
}

h1 {
  justify-self: center;
  color: #6202ee;
}

.mat-button {
  margin-top: 20px;
}

.playerOneDiv {
  text-align-last: center;
  width: 50%;
  .mat-button {
    width: 50%;
  }
}

.playerTwoDiv {
  text-align-last: center;
  margin-left: 20px;
  width: 50%;
  .mat-button {
    width: 50%;
  }
}

.splitter {
  width: 20px;
}

.counter {
  display: inline-grid;
}
