.form-div {
  display: flex;
  flex-direction: row-wrap;
  width: 80%;
}

h1 {
  justify-self: center;
  color: #6202ee;
}

.playerOneDiv {
  text-align-last: center;
  justify-content: space-between;
  .mat-button {
    width: 50%;
  }
}

.playerTwoDiv {
  text-align-last: center;
  justify-content: space-between;
  margin-left: 20px;
  .mat-button {
    width: 50%;
  }
}

.splitter {
  width: 20px;
}

.counter {
  display: inline-grid;
}
